*
  box-sizing border-box

html
  margin  0
  width 100%
  overflow-x hidden

body
  margin  0
  /*font-family "Source Sans Pro", SimSun, Arial*/

.flex-row-column-center
  display flex
  justify-content center
  align-items center

.flex-row-center
  display flex
  justify-content center

.flex-row-end
  display flex
  align-items flex-end
  justify-content flex-end

.flex-column-center
  display flex
  flex-direction column
  align-items center

.flex-row-space-between
  display flex
  justify-content space-between

.division
  height 1px
  border-bottom 1px solid #F7F7F7

ul
  list-style none
  margin 0px
  padding 0px

.cover
  position fixed
  height 100%
  width 100vw
  background #F7F7F7
  z-index -1

.common-padding
  padding 15px 30px

@media (max-width: 750px) {
  .common-padding{
    padding 15px 15px
  }
}

.cursorp
  cursor pointer

.max-width-750
  max-width 750px

.common-line-height
  line-height 2rem

input,
button,
select,
textarea{
  outline:none
  transition: all 0.5s ease;
}

button,
input,
select,
textarea
  overflow auto hidden
  border 1px solid #E6E6E6
  border-radius 3px
  background #F7F7F7

@media(max-width: 750px) {
  textarea{
    width 100%
  }
}

button
  padding 5px 20px
  cursor pointer

button:hover
  background #E6E6E6

select:hover
  box-shadow 2px 2px 2px #999999 inset

input:focus
  box-shadow 2px 2px 2px #999999 inset

textarea:focus
  box-shadow 2px 2px 2px #999999 inset

@media(max-width: 750px){
  .submit-button{
    width 100%
    padding 10px 20px
  }
}


.overRowHandle
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.clickable
  color color rgb(23, 81, 153)

.clickable:hover
  color black



