.font-ss{
  font-size 14px
}
.font-s{
  font-size 16px
}
.font-m{
  font-size 18px
}
.font-l{
  font-size 22px
}
.font-ll{
  font-size 26px
}
.font-lll{
  font-size 32px
}
.font-llll{
  font-size 40px
}
.font-dark{
  color: #A2A2A2
}
.font-bold{
  font-weight bold
}
.font-bolder{
  font-weight bolder
}
.font-normal{
  font-weight normal
}
.font-lighter{
  font-weight lighter
}
@font-face{
  font-family "Source Sans Pro"
  src url("../fonts/SourceSansPro-Light.ttf")
  font-weight 300
}
@font-face{
  font-family "Dosis"
  src url("../fonts/Dosis-Medium-3.ttf")
  font-weight 300
}

